/*== GOOGLE FONT ==*/
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');

body {
    font-family: 'Zen Antique Soft', serif;
    /*background: linear-gradient(to right, #eafff0, #dddddd);*/

}


.border_bottom_3px{
    border-bottom: 3px solid #e7f3f8;
    text-transform: uppercase;
    font-weight: 700;
}

.section_padding{
    margin-top:30px ;
    margin-bottom:30px ;
}